{% extends 'base.html' %}

{% block title %}polls{% endblock  %}

{% block content %}


<h2>장고 어플리케이션틀</h2>
    {% if latest_question_list%}
        <ul>
            {% for question in latest_question_list %}
                
                <a href='{% url 'polls:detail' question.id %}'>
                <li>
                    {% comment %} 

                    파이썬 함수 호출 방식 
                    url('polls:detail', question_id) 
                    
                    {% endcomment %}
                    
                    {{question.question_text}}
                    

                </li>
                </a>
            {% endfor %}

        </ul>

    {% else %}

    {% endif %}

{% endblock  %}