{% extends 'base.html' %}

{% block content-header %}

    <h1 class='bg-success center'>Bookmark Detail</h1>
    
{% endblock  %}

{% block content %}

<div>
    <div>

        <h3><i class='fas fa-bookmark mr-2'></i>{{object.title}}</h3>

        <ul>

            <li>URL : 
            <a href='{{object.url}}' target='_blank'>

            {{object.url}}
            
            </a>
            </li>

        </ul>

    </div>

    <div class='ml-5'>
        <a href='javascript:history.back()' class='btn btn-primary btn-sm'>
        <i class='fas fa-undo'>돌아가기</i>
        </a>
    </div>
</div>
{% comment %} <a href='{% url 'bookmark:index' %}'>돌아가기</a> {% endcomment %}
{% endblock  %}